<div>
  Hello World!
  <br />
  <%= link_to t('.sign_out', default: 'Sign out'), destroy_user_session_path, method: :delete %>
</div>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>