<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@chatapp" />
    <meta name="twitter:creator" content="@brynmrk" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/795233551373451264/5Dk2WreB.jpg" />
    <meta name="twitter:image:width" content="375">
    <meta name="twitter:image:height" content="375">
    <meta property="og:url" content="https://chat-app-rails5.herokuapp.com//" />
    <meta property="og:title" content="Chat App" />
    <meta property="og:description" content="Realtime chat app. Chat with your friends!" />
    <meta property="og:image" content="http://i.imgur.com/aLxzmUm.png" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
